body{
  margin:0;
  background:#0b0b0b;
  color:white;
  font-family:Arial;
}

header{
  display:flex;
  justify-content:space-between;
  padding:15px;
  background:black;
  position:sticky;
  top:0;
}

.logo{
  font-size:20px;
  color:#e50914;
  font-weight:bold;
}

button{
  background:#e50914;
  border:none;
  color:white;
  padding:10px 14px;
  margin-left:10px;
  cursor:pointer;
  border-radius:6px;
}

.playerArea{
  padding:20px;
}

video{
  width:100%;
  max-height:70vh;
  background:black;
  border-radius:10px;
}

.subtitleBox{
  margin-top:10px;
  color:#aaa;
  font-size:14px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
  gap:12px;
  padding:20px;
}

.card{
  background:#1c1c1c;
  padding:15px;
  border-radius:10px;
  cursor:pointer;
  transition:0.2s;
}

.card:hover{
  transform:scale(1.05);
  background:#2a2a2a;
}